<form>
  
  <ion-input label="Name" label-placement="floating" fill="outline" placeholder="Name" type="text"></ion-input>

  <ion-input label="UserName" label-placement="floating" fill="outline" placeholder="UserName" type="text"></ion-input>
  
  <ion-input label="Email" label-placement="floating" fill="outline" placeholder="Email" type="email"></ion-input>
  
  <ion-input label="Password" label-placement="floating" fill="outline" placeholder="Password" type="Password"></ion-input>

  <ion-input label="Password" label-placement="floating" fill="outline" placeholder="Password" type="Password"></ion-input>

  

  <ion-button>Register</ion-button>
  
</form>
