#photo{
    border: 2px solid red;
    border-radius: 20px; ;
}

div{
    overflow: auto;
}
ion-img{
    width: 400px;
    height: 400px;
    display:block;
    margin:auto;
}
ion-card{
    width: 700px;
    height: 200px;
    display:block;
    margin:auto;
}
ion-button{
    padding: 50px;
    width: 400px;
    height: 50px;
    display:block;
    margin:auto;
}