
#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #a10d0d;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-img{
  width: 400px;
  height: 400px;
  display:block;
  margin:auto;
}

ion-content.background{
  --background: src("/src/assets/imgs/fono2.jpg") 0 0/100% 100% no-repeat;
}

ion-button{
  padding: 10px;
  width: 700px;
  height: 50px;
  display:block;
  margin:auto;
}
